favicon.ico
css/animate.css
css/bootstrap.css
css/bootstrap.min.css
css/font-awesome.css
css/magnific-popup.css
css/main-green.css
css/material-design-iconic-font.min.css
css/normalize.css
css/owl.carousel.css
css/owl.video.play.png.html
css/transition-animations.css
cv/curriculum_ivan_sousa.pdf
cv/resume.pdf
fonts/fontawesome-webfont.eot_
fonts/fontawesome-webfont.eot_v=4.7.0
fonts/fontawesome-webfont.svg_v=4.7.0
fonts/fontawesome-webfont.ttf_v=4.7.0
fonts/fontawesome-webfont.woff_v=4.7.0
fonts/fontawesome-webfont.woff2_v=4.7.0
fonts/glyphicons-halflings-regular.eot_.html
fonts/glyphicons-halflings-regular.eot.html
fonts/glyphicons-halflings-regular.svg.html
fonts/glyphicons-halflings-regular.ttf.html
fonts/glyphicons-halflings-regular.woff.html
fonts/glyphicons-halflings-regular.woff2.html
fonts/Material-Design-Iconic-Font.ttf_v=2.2.0
fonts/Material-Design-Iconic-Font.woff_v=2.2.0
fonts/Material-Design-Iconic-Font.woff2_v=2.2.0
images/felicity.jpeg
images/fred-marquis-punket-2019.jpg
images/Ivan_Sousa.png
images/main_bg.png
images/photo.png
images/sp_main_bg.png
images/clients/client_1.png
images/clients/client_2.png
images/clients/client_3.png
images/clients/client_4.png
images/clients/client_5.png
images/clients/client_6.png
images/portfolio/1.jpg
images/portfolio/2.jpg
images/portfolio/3.jpg
images/portfolio/4.jpg
images/portfolio/5.jpg
images/portfolio/6.jpg
images/portfolio/7.jpg
images/portfolio/8.jpg
images/portfolio/9.jpg
images/portfolio/10.jpg
images/portfolio/11.jpg
images/portfolio/12.jpg
images/portfolio/full/1.jpg
images/portfolio/full/2.jpg
images/portfolio/full/3.jpg
images/portfolio/full/4.jpg
images/portfolio/full/5.jpg
images/portfolio/full/6.jpg
images/portfolio/full/7.jpg
images/portfolio/full/9.jpg
images/portfolio/full/11.jpg
images/service/advetising_icon.png
images/service/creativity_icon.png
images/service/photography_icon.png
images/service/web_design_icon.png
images/testimonials/testimonial_photo_1.jpg
images/testimonials/testimonial_photo_2.jpg
images/testimonials/testimonial_photo_3.jpg
js/bootstrap.min.js
js/imagesloaded.pkgd.min.js
js/jquery-2.1.3.min.js
js/jquery.googlemap.js
js/jquery.hoverdir.js
js/jquery.magnific-popup.min.js
js/jquery.shuffle.min.js
js/main.js
js/masonry.pkgd.min.js
js/modernizr.custom.js
js/owl.carousel.min.js
js/pages-switcher.js
js/validator.js
preview/lmpixels-demo-panel.css
preview/lmpixels-demo-panel.js
